@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  body {
    background: linear-gradient(
      to right,
      rgb(15, 23, 42),
      rgb(88, 28, 135),
      rgb(15, 23, 42)
    );
  }
}
